Editorial Enhancements

* Typo in [Section 7.3.4](https://w3c.github.io/dx-connegp/connegp/#qsa-keydiscovery)  `... on a it knowing ...` . 
* In [A2. CODE LISTING 1](https://w3c.github.io/dx-connegp/connegp/#profiles-in-prof) there is a reference to section 6.2.2. However, there is no such section in the document.
* In A.3 `... such as Example 49`, the link refers to Example 48.
* I suggest to use `ex:isProfileDefaultRepresentation` instead of `ex:isProfilesDefault` to indicate if the representation is the default representation of that profile in [A.4.2 Extensions](https://w3c.github.io/dx-connegp/connegp/#altr-extensions).
* Use `formats` attribute instead of `format` in the examples ([EXAMPLE 4](https://w3c.github.io/dx-connegp/connegp/#eg-list-simple), [EXAMPLE 8](https://w3c.github.io/dx-connegp/connegp/#eg-link-headers), [EXAMPLE 9](https://w3c.github.io/dx-connegp/connegp/#eg-link-headers-loc), [EXAMPLE 10](https://w3c.github.io/dx-connegp/connegp/#eg-link-headers-altp), [EXAMPLE 12](https://w3c.github.io/dx-connegp/connegp/#eg-uri-token-multi), [EXAMPLE 16](https://w3c.github.io/dx-connegp/connegp/#eg-list-profiles-mediatype), [EXAMPLE 17](https://w3c.github.io/dx-connegp/connegp/#eg-html-altp), [EXAMPLE 19](https://w3c.github.io/dx-connegp/connegp/#eg-qsa-keydiscovery), [EXAMPLE 20](https://w3c.github.io/dx-connegp/connegp/#eg-qsa-keydisco-altprofiles), [EXAMPLE 24](https://w3c.github.io/dx-connegp/connegp/#eg-altr-multi)) to be consistent with the [IETF](https://datatracker.ietf.org/doc/html/draft-svensson-profiled-representations-01) proposal and [HTTP Link Hints](https://datatracker.ietf.org/doc/html/draft-nottingham-link-hint-02).

Update the references:

* [Indicating and Negotiating Profiles in HTTP](https://profilenegotiation.github.io/I-D-Profile-Negotiation/I-D-Profile-Negotiation) => [Indicating, Discovering, Negotiating, and Writing Profiled Representations
](https://datatracker.ietf.org/doc/draft-svensson-profiled-representations/01/)
* [The ARK Identifier Scheme](https://tools.ietf.org/id/draft-kunze-ark-15.txt) => [The ARK Identifier Scheme](https://datatracker.ietf.org/doc/draft-kunze-ark/)
* Use the new [RFC 9110 HTTP Semantics](https://www.rfc-editor.org/rfc/rfc9110.html) and [RFC 9112 HTTP/1.1](https://www.rfc-editor.org/rfc/rfc9112.html) where applicable e.g. instead of [RFC7231](https://httpwg.org/specs/rfc7231.html) and [RFC7230](https://httpwg.org/specs/rfc7230.html).

Separate issues were created as discussed in [the meeting](https://www.w3.org/2023/09/20-dxwg-minutes.html) on `20/09/2023` #51, #52 and #53.

closed with https://github.com/w3c/dx-connegp/pull/54